@model  System.Collections.Generic.List<Callcenter.Models.Entry>
    @{
        ViewData["Title"] = "Alle Einträge";
    }

    <div class="text-center">
        <h1 class="display-4">@ViewData["Title"]</h1>
    </div>
    <div id="tablespace">
        <table style="width:100%">
            <tr>
                <th>Zeitpunkt</th>
                <th>Letzte Änderung</th>
                <th>Telefonnummer</th>
                <th>Postleitzahl</th>
                <th>Anfrage</th>
            </tr>
            @foreach(var item in Model)
            {
        <tr>
            <td>@item.timestamp.ToLocalTime()</td>
            <td>@item.modifyts?.ToLocalTime()</td>
            <td>@item.phone</td>
            <td>@item.zip</td>
            <td>@item.request.ToString()</td>
        </tr>
            }
        </table>
    </div>
    @if (!string.Empty.Equals(ViewData["NaechstenAnz"]))
    {
    <div>
        <a href="/Alle/@ViewData["NaechsteSkip"]">Nächsten @ViewData["NaechstenAnz"] einträge laden.</a>
    </div>
    }
    <div>
        <br /><br />
              <div class="alert alert-secondary" role="alert">
                  <h5>Statistik:</h5>
                  <p>Anzahl gesamt: <span>@ViewData["CountAll"]</span></p>
                  <p>Anzahl ohne PLZ: <span>@ViewData["CountNoZip"]</span></p>
                  <p>Anrufe letzte Stunde: <span>@ViewData["CallHour"]</span></p>
                  <p>Bearbeitet letzte Stunde: <span>@ViewData["EditHour"]</span></p>
                  <p>Anrufe letzter Tag: <span>@ViewData["CallDay"]</span></p>
                  <p>Bearbeitet letzter Tag: <span>@ViewData["EditDay"]</span></p>
              </div>
    </div>