@model  System.Collections.Generic.List<Callcenter.Models.Entry>
    @{
        ViewData["Title"] = "Alle Einträge";
    }

    <div class="text-center">
        <h1 class="display-4">@ViewData["Title"]</h1>
    </div>
    <div id="tablespace">
        <table style="width:100%">
            <tr>
                <th>Zeitpunkt</th>
                <th>Telefonnummer</th>
                <th>Postleitzahl</th>
                <th>Anfrage</th>
            </tr>
            @foreach(var item in Model)
            {
        <tr>
            <td>@item.timestamp.ToLocalTime()</td>
            <td>@item.phone</td>
            <td>@item.zip</td>
            <td>@item.request.ToString()</td>
        </tr>
            }
        </table>
    </div>