@model Callcenter.Models.Entry
@{
    ViewData["Title"] = "Neuer Eintrag";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
}
<script type="text/javascript">
    function ShowErrorMsgFrame(msg) {
        console.error("Fehler: " + msg);
        const ErrorWindow = document.getElementById('ErrorWindow');
        if (ErrorWindow && ErrorWindow != undefined && ErrorWindow != null) {
            document.getElementById('ErrorText').innerHTML = msg;
            ErrorWindow.classList.remove("invisible");
            setTimeout(function () {
                ErrorWindow.classList.add("invisible");
            }, 2000);
        }
    }
    function validateCaptcha() {
        const captchasecret = document.getElementById("captchasecret");
        if (captchasecret && captchasecret != undefined && captchasecret != null) {
            //var rgx = new RegExp("^\\d{5}$");
            //if (captchasecret.value.match(rgx)) {
            if (captchasecret.value.length == 5) {
                captchasecret.classList.remove("invalid");
                return true;
            } else {
                captchasecret.classList.add("invalid");
            }
        }
        return false;
    }
    function validateFrame() {
        if (!validatePhone()) {
            ShowErrorMsgFrame("Telefonnummer ist nicht korrekt");
            return false;
        }
        if (!validateZip()) {
            ShowErrorMsgFrame("Postleitzahl ist nicht korrekt");
            return false;
        }
        if (!validateAuswahl()) {
            ShowErrorMsgFrame("Auswahl ist nicht korrekt");
            return false;
        }
        if (!validateCaptcha()) {
            ShowErrorMsgFrame("Captcha ist nicht korrekt");
            return false;
        }
        return true;
    }
    function valiPhone() {
        if (validatePhone()) {
            ErrorWindow.classList.add("invisible");
        }
    }
    function valiZip() {
        if (validateZip()) {
            ErrorWindow.classList.add("invisible");
        }
    }
    function valiCaptcha() {
        if (validateCaptcha()) {
            ErrorWindow.classList.add("invisible");
        }
    }
</script>
<div class="row">
    <div class="text-right">
        <h1 class="display-4">@ViewData["Title"]</h1>
    </div>
    <div class="right-side">
        <a href="https://gemeinschaft.online/" target="_blank"><img class="right-side" src="~/images/logo.png" alt="Gemeinschaft.Online" id="logo" /></a>
    </div>
</div>
<div id="addspace">
    <form method="post" action="/frame/send" onsubmit="return validateFrame();">
        <input id="captchaid" name="captchaid" type="hidden" value="@ViewData["captchaid"]">
        <input id="id" name="id" type="hidden" value="@Model.id">
        <div class="form-group">
            <label for="phone">Telefonnummer:</label><br>
            <input class="form-control input-lg" type="text" id="phone" name="phone" onchange="valiPhone();" value="@Model.phone" required><br>
        </div>
        <div class="form-group">
            <label for="zip">Postleitzahl:</label><br>
            <input class="form-control input-lg test" type="text" id="zip" name="zip" onchange="valiZip();" value="@Model.zip" required><br>
        </div>
        <div class="form-group">
            @foreach (EntryRequest er in (EntryRequest[])Enum.GetValues(typeof(EntryRequest)))
            {
                @if ((int)er >= 0)
                {
                    if (Model.request == er)
                    {
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="request" id="@((int)er)" value="@((int)er)" checked>
                            <label class="form-check-label" for="@((int)er)">
                                @er.ToString()
                            </label>
                        </div>
                    }
                    else
                    {
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="request" id="@((int)er)" value="@((int)er)">
                            <label class="form-check-label" for="@((int)er)">
                                @er.ToString()
                            </label>
                        </div>
                    }
                }
            }
        </div>
        <div class="form-group">
            <img src="/Frame/Captcha/@ViewData["captchaid"]" alt="Captcha Picture" /><br>
            <input class="form-control input-lg test" type="text" id="captchasecret" name="captchasecret" onchange="valiCaptcha();" style="width: 130px;" value="" required><br>
            <span class="alert-light">Bitte tippen Sie die Zeichen in dem farbigen Kästchen ab, bevor Sie auf Senden klicken.</span><br>
        </div>
        <input type="submit" value="Absenden">
    </form>
    <br />
    <div id="ErrorWindow" class="popup invisible alert-danger" role="alert">
        <p>
            <b>Ein Fehler ist aufgetreten.</b>
        </p>
        <p id="ErrorText"></p>
    </div>
    @if (ViewData["msg"] != null)
    {
        <div id="ErrorWindow" class="popup alert-danger" role="alert">
            <p>
                <b>Ein Fehler ist aufgetreten.</b>
            </p>
            <p id="ErrorText">@ViewData["msg"]</p>
        </div>
    }
</div>