@model Callcenter.Models.Entry
@{
    ViewData["Title"] = "Erfolgreich";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
}
<div class="row">
    <div class="text-right">
        <h1 class="display-4">@ViewData["Title"]</h1>
    </div>
    <div class="right-side">
        <a href="https://gemeinschaft.online/" target="_blank"><img class="right-side" src="~/images/logo.png" alt="Gemeinschaft.Online" id="logo" /></a>
    </div>
</div>
<div id="addspace">
    <form>
        <input id="id" name="id" type="hidden" value="@Model.id">
        <div class="form-group">
            <label for="phone">Telefonnummer:</label><br>
            <input class="form-control" type="text" id="phone" name="phone" value="@Model.phone" disabled><br>
        </div>
        <div class="form-group">
            <label for="zip">Postleitzahl:</label><br>
            <input class="form-control test" type="number" id="zip" name="zip" value="@Model.zip" disabled><br>
        </div>
        <div class="form-group">
            @foreach (EntryRequest er in (EntryRequest[])Enum.GetValues(typeof(EntryRequest)))
            {
                @if ((int)er >= 0)
                {
                    if (Model.request == er)
                    {
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="request" id="@((int)er)" value="@((int)er)" checked disabled>
                            <label class="form-check-label" for="@((int)er)">
                                @er.ToString()
                            </label>
                        </div>
                    }
                    else
                    {
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="request" id="@((int)er)" value="@((int)er)" checked disabled>
                            <label class="form-check-label" for="@((int)er)">
                                @er.ToString()
                            </label>
                        </div>
                    }
                }
            }
        </div>
        <input type="submit" value="Submit" disabled>
    </form>
    <br />
    <div id="requestFinish" class="popup alert-success" role="alert">
        <p>
            <b>Der Eintrag wurde erfolgreich gespeichert!</b>
        </p>
    </div>
</div>