@model System.Collections.Generic.List<Callcenter.Models.Entry>
@{
    ViewData["Title"] = "Übersicht";
}
<div class="d-md-flex h-md-100 align-items-center">

    <!-- First Half -->

    <div class="col-md-9 p-0 bg-indigo h-md-100">
        <div class="d-md-flex align-items-center h-100 text-center justify-content-center">
            <div class="logoarea pb-5">
                <div class="text-center">
                    <h1 class="display-4">Callcenter gemeinsam.online</h1>
                </div>
                <div id="tablespace">
                    <table style="width: 100% " id="entries">
                        <tr>
                            <th>Zeitpunkt</th>
                            <th>Telefonnummer</th>
                            <th>Anfrage</th>
                            <th>Bearbeiten</th>
                            <th>Fertig</th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr id="@item.id" class="@item.CString">
                                <td>@item.timestamp.ToLocalTime().ToString("d.M.yyyy HH:mm:ss")</td>
                                <td>@item.phone</td>
                                <td>@item.request</td>
                                <td><button class="btn btn-secondary btn-sm btn-block" onclick="MarkItem('@item.id')"><i class="fas fa-user-edit" title="In Bearbeitung nehmen"></i></button></td>
                                <td><button class="btn btn-secondary btn-sm btn-block" onclick="DelItem('@item.id')"><i class="fas fa-thumbs-up" title="Fertigstellen"></i></button></td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Second Half -->

    <div class="col-md-3 p-0 bg-white h-md-100 loginarea">
        <div class="d-md-flex align-items-center h-md-100 p-5 justify-content-center fixed">
            <div id="requestForm">
                <form action="#" onsubmit="return AddItem();">
                    <input id="id" name="id" type="hidden">
                    <div class="form-group">
                        <label for="phone">Telefonnummer:</label><br>
                        <input class="form-control input-lg" type="text" id="phone" name="phone" required><br>
                    </div>
                    <div class="form-group">
                        <label for="zip">Postleitzahl:</label><br>
                        <input class="form-control input-lg test" type="number" id="zip" name="zip" required><br>
                    </div>
                    <div class="form-group">
                        <label for="request">Anfrage:</label><br>
                        @foreach (EntryRequest er in (EntryRequest[])Enum.GetValues(typeof(EntryRequest)))
                        {
                            @if ((int)er >= 0)
                            {
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="request" id="@((int)er)" value="@((int)er)" checked>
                                    <label class="form-check-label" for="@((int)er)">
                                        @er.ToString()
                                    </label>
                                </div>
                            }
                        }
                    </div>
                    <input type="submit" class="btn btn-primary block" value="Speichern">
                </form>
            </div>
            <div id="requestFinish" class="invisible alert alert-success" role="alert">
                <h5>Eintrag Erfolgreich gespeichert.</h5>
                <p>Telefonnummer: <span id="rftel"></span>.</p>
                <p>Postleitzahl: <span id="rfzip"></span>.</p>
                <p>Anfrage: <span id="rfreq"></span>.</p>
                <h5>Vielen Dank für deine Mühe.</h5>
            </div>
            <div id="ErrorWindow" class="invisible alert alert-danger" role="alert">
                <h5>Fehler!!!!</h5>
                <p id="ErrorText"></p>
            </div>
        </div>
    </div>

</div>

