<form method="post" action="/">
    <input id="id" name="id" type="hidden" value="@Model.id">
    <div class="form-group">
        <label for="phone">Telefonnummer:</label><br>
        <input class="form-control" type="text" id="phone" name="phone" value="@Model.phone"><br>
    </div>
    <div class="form-group">
        <label for="zip">Postleitzahl:</label><br>
        <input class="form-control test" type="number" id="zip" name="zip" value="@Model.zip"><br>
    </div>
    <div class="form-group">
        @foreach (EntryRequest er in (EntryRequest[])Enum.GetValues(typeof(EntryRequest)))
        {
            @if ((int)er >= 0)
            {
                if (Model.request == er)
                {
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="request" id="@((int)er)" value="@((int)er)" checked>
                        <label class="form-check-label" for="@((int)er)">
                            @er.ToString()
                        </label>
                    </div>
                }
                else
                {
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="request" id="@((int)er)" value="@((int)er)" checked>
                        <label class="form-check-label" for="@((int)er)">
                            @er.ToString()
                        </label>
                    </div>
                }
            }
        }
        </div>
    <input type="submit" value="Submit">
</form>
